@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

.background {
  background-color: black;
}

.navbar-title {
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  margin: 1% 1%;
  margin-left: 2.5%;
}

.navbar-title:hover {
  color: aliceblue;
}

.button-cs {
  font-family: "Merriweather", serif;
  margin-right: 2rem;
  width: 18%;
}

.button-it {
  font-family: "Merriweather", serif;
  width: 18%;
}

.major-select {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 300;
}

.major-title {
  margin-top: 12rem;
  margin-bottom: 2rem;
}
